{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  </div>
</div>

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


<head>
 <meta name="viewport"content="width=100%, initial-scale=1">
 <style> body{margin: 0;}
.topnav {overflow: hidden; background-color: #f8f8f8;}
.topnav a {float: left; color: #1d70b8; text-align: center; padding: 14px 16px; font-weight: 700; font-size: 1rem; line-height: 1.25; text-decoration: none;}
.topnav a:active {background-color: #f8f8f8; color: #1d70b8;}
.topnav a:hover {text-decoration: underline;}
.topnav .current {background-color: #f8f8f8; color: #1d70b8; border-bottom: 4px; border-bottom-style: solid; border-bottom-color: #1d70b8;}
</style></head>

<body>
<div class="topnav">
 <a href="#contribute">Contribute</a>
 <a href="#styles">Styles</a>
 <a href="#components">Components</a>
 <a class="current" href="/patterns/personal/contacthmrc">Patterns</a>
</div></body>


<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a></div>

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">

    <main class="govuk-main-wrapper">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Contact HMRC
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link" href="https://design.tax.service.gov.uk/hmrc-design-patterns/">
                Her Majesty's Revenue & Custom (HMRC)
              </a>
            </li>
            <li>
              Date uploaded: 01/09/2019
            </li>
            <li>
              Uploaded by <a href="https://homeofficedigital.slack.com/messages/DNEN6TVC0">@emmamcb</a>
            </li>
            <br>
            <li>
              <strong class="govuk-tag">
                complete
              </strong>
            </li>
          </ul>
        </nav>
      </aside>
  </div>


  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Patterns</span>
    <h1 class="govuk-heading-xl">Personal details</h1>

    <img src="/public/images/Personal-details.jpg" class="screenshot" style="display:inline-block;max-width:100%" alt="Change your address and personal details, by HMRC.">

    <br>
    <br>
    <br>

    <p class="govuk-body govuk-!-font-weight-bold">Context</p>
    <p class="govuk-body">This default paragraph is for screenshot context. This default paragraph is for screenshot context. This default paragraph is for screenshot context. This default paragraph is for screenshot context. This default paragraph
      is for screenshot context. This default paragraph is for screenshot context. This default paragraph is for screenshot context. This default paragraph is for screenshot context.</p>
    <br>
    <p class="govuk-body govuk-!-font-weight-bold">Research and findings</p>
    <p class="govuk-body">This default paragraph is for screenshot research. This default paragraph is for screenshot research. This default paragraph is for screenshot research. This default paragraph is for screenshot research. This default
      paragraph is for screenshot research. This default paragraph is for screenshot research. This default paragraph is for screenshot research. This default paragraph is for screenshot.</p>
    <br>
    <p class="govuk-body govuk-!-font-weight-bold">Additional links</p>
    <li><a href="#" class="govuk-link govuk-link--no-visited-state">This space is for links to additional work such as Sketch files.co.uk</a></li>
    <li><a href="#" class="govuk-link govuk-link--no-visited-state">This space is for links to additional work such as Heroku files.co.uk</a></li>


  </div>
</div>

</main>
</div>


</div>
</div>

{% endblock %}
